html {
  font-family: Rubik, sans-serif;
  background-color: rgba(224, 220, 189, .5);
}

.font-2 {
  font-family: Montserrat, sans-serif;
}

.text-box-1 {
  top: 3em;
  left: auto;
}

.text-box-2 {
  top: 8.3em;
  left: auto;
}

.text-box-3 {
  top: 3em;
  left: auto;
}

.text-box-4 {
  top: 7.4em;
  left: auto;
}

.text-box-5 {
  top: 3em;
  left: auto;
}

.text-box-6 {
  top: 12em;
  right: -16.2em;
}

p,
h1,
cite {
  color: #46a1be;
}

.keyword {
  color: rgba(153, 196, 61, .8);
}

.neg-keyword {
  color: #eb3323;
}
